.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Gaya untuk slider, pastikan berjalan lancar */
.slider-container::-webkit-scrollbar {
  display: none;
}
.slider-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.slider-card {
  flex: 0 0 auto;
  width: 280px; /* Ukuran kartu */
}
